spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  thymeleaf:
    cache: false

  sql:
    init:
      mode: always
      encoding: utf-8

app:
  env: ${SPRING_PROFILES_ACTIVE:local}
  admin:
    bootstrap-enabled: ${APP_ADMIN_BOOTSTRAP_ENABLED:false}
    username: ${APP_ADMIN_USERNAME:admin}
    password: ${APP_ADMIN_PASSWORD:adminpassword}
    email: ${APP_ADMIN_EMAIL:admin@admin.com}

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.westudy.*.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl



logging:
  level:
    com.westudy.user.mapper: DEBUG
    org.mybatis: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    com.westudy: DEBUG

jwt:
  secret: "WasnnJKWdwnmad8423nJLnD928319023123SAjsnaJ124584u9450SLmLWAjo123"

kakao:
  map:
    key: "a531b3cf1e3b8bfe2fdcccfe23ebb9c3"