<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.westudy.security.mapper.TokenMapper">

    <select id="findByUserid" resultType="com.westudy.security.dto.TokenDTO">
        SELECT *
        FROM token
        WHERE userid = #{userid}
    </select>

    <insert id="insertToken" parameterType="com.westudy.security.dto.TokenDTO">
        INSERT INTO token (userid, token)
        VALUES (#{userid}, #{token})
    </insert>

    <delete id="deleteByUserid" parameterType="String">
        DELETE FROM token
        WHERE userid = #{userid}
    </delete>

</mapper>