/* ========== 공통 전역 스타일 ========== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    color: #333;
}

/* ========== Header ========== */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid rgb(74, 74, 74);
    z-index: 5; /* 다른 요소 위에 표시되도록 */
}

.nickname-link:link{
    color: #262d4a;
    text-decoration: none;
}

.nickname-link:hover{
    color: #424d7e;
    text-decoration: none;
}

.logo {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

.logo-img {
    width: 5vh;
    height: 5vh;
    /*border: 1px solid blue;*/
    border-radius: 5px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
}

.nickname {
    font-weight: bold;
}

.auth-link {
    color: #262d4a;
    border: 1.5px solid #262d4a;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: all 0.2s ease;
}

.auth-link:hover {
    background-color: rgba(38, 45, 74, 0.51);
    color: #333;
}

/* ========== Main ========== */
main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 90vh;
}

.centered-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10vh);
}

/* ========== Footer ========== */
footer {
    height: 5vh;
    background-color: rgb(2, 4, 32);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top: 1px solid rgb(74, 74, 74);;
    font-size: 10px;
}

footer p {
    font-size: 15px;
    margin-right: 2vw;
}

footer a {
    font-size: 12px;
    margin-right: 1vw;
    margin-left: 1vw;
}

.footer-link:link{
    color: whitesmoke;
    text-decoration: none;
}

.footer-link:visited {
    color: #6483aa;
}

.footer-link:active{
    color : #001a39;
}

.footer-link:hover{
    color : #1555a6;
}