<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.westudy.post.mapper.PostContentMapper">

    <insert id="insertContent" parameterType="com.westudy.post.entity.PostContent">
        INSERT INTO post_content (post_id, content, modify_at)
        VALUES (#{postId}, #{content}, NULL)
    </insert>
    <select id="findByPostId" resultType="com.westudy.post.entity.PostContent" parameterType="long">
        SELECT *
        FROM post_content
        WHERE post_id = #{post_id}
    </select>
    <update id="updateContent" parameterType="com.westudy.post.entity.PostContent">
        UPDATE post_content
        SET post_id = #{postId}, content = #{content}, modify_at = now()
        WHERE post_id = #{postId}
    </update>
    <update id="deleteByPostId" parameterType="long">
        DELETE FROM post_content
        WHERE post_id = #{postId}
    </update>
</mapper>