<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.westudy.post.mapper.PostMapper">
    <select id="findByPostId" resultType="com.westudy.post.entity.Post" parameterType="long">
        SELECT *
        FROM post
        WHERE id = #{id}
    </select>

    <select id="findByUserId" resultType="com.westudy.post.entity.Post" parameterType="long">
        SELECT *
        FROM post
        WHERE user_id = #{user_id}
    </select>

    <select id="findNotice" resultType="com.westudy.post.entity.Post">
        SELECT *
        FROM post
        WHERE is_notice = true
        ORDER BY create_at DESC
        LIMIT 2
    </select>

    <select id="findPost" resultType="com.westudy.post.entity.Post">
        SELECT *
        FROM post
        WHERE is_notice = false AND delete_at IS NULL
        ORDER BY create_at DESC
        LIMIT #{size} OFFSET #{offset};
    </select>

    <select id="countPosts" resultType="long">
        SELECT COUNT(*)
        FROM post
        WHERE is_notice = false AND delete_at IS NULL
    </select>

    <insert id="insertPost" parameterType="com.westudy.post.entity.Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post (user_id, study_id, views, is_notice, category, title, summary, create_at)
        VALUES (#{userId}, #{studyId}, 0, #{isNotice}, #{category}, #{title}, #{summary}, now())
    </insert>

    <update id="updatePost" parameterType="com.westudy.post.entity.Post">
        UPDATE post
        SET title = #{title}, summary = #{summary}, category = #{category}
        WHERE id = #{id}
    </update>

    <update id="deleteByPostId" parameterType="long">
        UPDATE post
        SET delete_at = now()
        WHERE id = #{id}
    </update>
</mapper>